<p id="notice"><%= notice %></p>
<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>
<br>
<table>
<thead>
<tr>
<th>Title</th>
<th>Description</th>
<th>Author</th>
<th>Status</th>
<th colspan="3"></th>
</tr>
</thead>
